:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

#content {
  margin: 0;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#header {
  flex: 1 0 auto;
  text-align: center;
}

#data {
  flex: 0 1 auto;
  margin: 20px auto;
  padding: 5px;
  border: 2px solid #888;
  background-color: #336;
  white-space: pre-wrap;
  font-family: monospace;
  max-width: 800px;
}

#success {
  color: rgb(62, 254, 120);
}

#error {
  color: rgb(255, 82, 82);
}

#footer {
  width: 100vw;
  background-color: rgb(53, 53, 53);
  text-align: center;
}

a {
  color: #669;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
